
<div class="c2l-header">
  <h4>C2L</h4>
  <div class="c2l-legend">
    Cyrillic to Latin alphabet transcoding
  </div>
</div>

<div class="c2l-settings">
  <div class="c2l-active">
    {{input id="c2l-is-active" type="checkbox" checked=controller.isActive}}
    <label for="c2l-is-active">
      Always active
    </label>
  </div>
</div>

{{outlet}}
